In [47]:
!pip install numpy

Collecting numpy

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading numpy-1.24.1-cp39-cp39-win_amd64.whl (14.9 MB)
     --------------------------------------- 14.9/14.9 MB 65.5 kB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-1.24.1
Requirement already satisfied: numpy in d:\project\python\venv\lib\site-packages (1.24.1)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [51]:
!pip install pandas

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting pandas
  Downloading pandas-1.5.3-cp39-cp39-win_amd64.whl (10.9 MB)
     --------------------------------------- 10.9/10.9 MB 97.9 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.20.3 in d:\project\python\venv\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\project\python\venv\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ------------------------------------ 499.4/499.4 kB 134.9 kB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in d:\project\python\venv\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.5.3 pytz-2022.7.1

In [7]:
import pandas as pd

In [76]:
!pip install pyarrow
!pip install fastparquet

Collecting pyarrow
  Downloading pyarrow-11.0.0-cp39-cp39-win_amd64.whl (20.6 MB)
     -------------------------------------- 20.6/20.6 MB 148.3 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.6 in d:\project\python\venv\lib\site-packages (from pyarrow) (1.24.1)
Installing collected packages: pyarrow
Successfully installed pyarrow-11.0.0

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting fastparquet
  Downloading fastparquet-2023.1.0-cp39-cp39-win_amd64.whl (619 kB)
     ------------------------------------ 619.1/619.1 kB 246.6 kB/s eta 0:00:00
Requirement already satisfied: pandas>=1.5.0 in d:\project\python\venv\lib\site-packages (from fastparquet) (1.5.3)
Collecting fsspec
  Downloading fsspec-2023.1.0-py3-none-any.whl (143 kB)
     ------------------------------------ 143.0/143.0 kB 116.4 kB/s eta 0:00:00
Collecting cramjam>=2.3
  Downloading cramjam-2.6.2-cp39-none-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 212.0 kB/s eta 0:00:00
Requirement already satisfied: packaging in d:\project\python\venv\lib\site-packages (from fastparquet) (23.0)
Requirement already satisfied: numpy>=1.20.3 in d:\project\python\venv\lib\site-packages (from fastparquet) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\project\python\venv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\project\python\venv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2022.7.1)
Requirement already satisfied: six>=1.5 in d:\project\python\venv\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.5.0->fastparquet) (1.16.0)
Installing collected packages: fsspec, cramjam, fastparquet
Successfully installed cramjam-2.6.2 fastparquet-2023.1.0 fsspec-2023.1.0

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [37]:
train=pd.read_parquet('train.parquet')[0:27089512]

In [38]:
type_weight = {0:1, 1:6, 2:3}

In [39]:
train.head(10)

   session      aid          ts  type
0        0  1517085  1659304800     0
1        0  1563459  1659304904     0
2        0  1309446  1659367439     0
3        0    16246  1659367719     0
4        0  1781822  1659367871     0
5        0  1152674  1659367885     0
6        0  1649869  1659369893     1
7        0   461689  1659369898     1
8        0   305831  1659370027     2
9        0   461689  1659370027     2

In [40]:
len(train)

27089512

In [42]:
train['type']=train['type'].map(lambda x:type_weight[x])

In [43]:
train.head(10)

   session      aid          ts  type
0        0  1517085  1659304800     1
1        0  1563459  1659304904     1
2        0  1309446  1659367439     1
3        0    16246  1659367719     1
4        0  1781822  1659367871     1
5        0  1152674  1659367885     1
6        0  1649869  1659369893     6
7        0   461689  1659369898     6
8        0   305831  1659370027     3
9        0   461689  1659370027     3

In [45]:
train1=train[['session','aid','type']]

In [46]:
train1.head(10)

   session      aid  type
0        0  1517085     1
1        0  1563459     1
2        0  1309446     1
3        0    16246     1
4        0  1781822     1
5        0  1152674     1
6        0  1649869     6
7        0   461689     6
8        0   305831     3
9        0   461689     3

In [65]:
res_train1=pd.DataFrame(train1.groupby(['session','aid'],as_index=False)['type'].sum())

In [66]:
res_train1.head(10)

    session      aid  type
0         0     6851     1
1         0     7563     2
2         0    10268     1
3         0    16246     1
4         0    30373     1
..      ...      ...   ...
95        0  1048044     1
96        0  1048797     2
97        0  1049280     1
98        0  1052813     1
99        0  1055124     2

[100 rows x 3 columns]

In [67]:
res_train1.columns

Index(['session', 'aid', 'type'], dtype='object')

In [68]:
res_train1.to_csv('user_item_matrix_1.csv')

In [72]:
count=27089512
for i in range(1,4):
    train=pd.read_parquet('train.parquet')[i*count:(i+1)*count]
    train=train[['session','aid','type']]
    train['type']=train['type'].map(lambda x:type_weight[x])
    res_train=pd.DataFrame(train.groupby(['session','aid'],as_index=False)['type'].sum())
    res_train.to_csv('user_item_matrix_'+str(i+1)+'.csv')

In [ ]:
%reset